*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  background-color: #e5e5e5;
}
.main {
  color: #111111;
  width: 100%;
  padding-top: 30px;
}
.mainContainer {
  width: 100%;
}
.mainTitle-block {
  margin: 0px auto;
}
.title-block {
  max-width: 793px;
}
.title-blockTitle {
  text-align: center;
  color: rgb(241, 44, 14);
  font-family: Oswald, sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}
.title-blockDescription {
  text-align: center;
  color: rgb(17, 17, 17);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
}
.pizzaItems {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pizzaColumn {
  margin-top: 30px;
  width: 525px;
  height: 250px;
  background-color: #fff;
  padding: 30px 0 30px 30px;
}
.pizzaColumn:first-child {
  margin-right: 30px;
}
.pizzaColumn:nth-child(3) {
  margin-right: 30px;
}
.pizza-item {
  display: flex;
}
.pizza-itemPicture {
  max-height: 249px;
  max-width: 255px;
  flex: 0 0 50%;
  overflow: hidden;
}
.pizza-itemPicture img {
  max-height: 269px;
  vertical-align: center;
  object-position: -40px -10px;
  -webkit-user-drag: none;
}
.pizza-itemBody {
  padding: 0 25px;
  flex: 0 1 50%;
}
.pizza-itemBody >* {
  margin-top: 20px;
  max-width: 220px;
}
.pizza-itemTitle {
  font-family: Oswald, sans-serif;
  font-size: 30px;
}
.pizza-itemDescription {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
}
.pizza-itemPrice {
  color: rgb(241, 44, 14);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.pizza-itemButton button {
  background-color: rgb(226, 226, 226);
  color: rgb(17, 17, 17);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s ease;
  text-transform: uppercase;
}
.pizza-itemButton button:hover {
  background-color: rgb(207, 207, 207);
}
.pic-left img {
  object-position: -20px -20px;
}
@media (max-width: 1199px) {
  .pizza-itemPicture {
    max-height: 249px;
    flex: 0 0 155px;
    overflow: hidden;
  }
  .pizzaColumn {
    width: 425px;
  }
  .pizza-itemPicture img {
    object-position: -90px -10px;
  }
  .pic-left img {
    object-position: -60px -20px;
  }
  .title-block {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .title-block {
    max-width: 720px;
  }
  .pizza-itemPicture {
    max-height: 249px;
    min-width: 300px;
    overflow: hidden;
  }
  .pizzaItems {
    width: auto;
  }
  .pizzaColumn {
    flex: 0 1 720px;
  }
  .pizzaColumn:first-child {
    margin-top: 30px;
  }
  .pizza-itemPicture img {
    object-position: -40px -20px;
  }
  .pizza-item {
    justify-content: space-between;
  }
  .pizza-itemPicture img {
    max-height: 300px;
  }
  .pic-left img {
    object-position: 0px -20px;
  }
  .pizzaColumn:first-child {
    margin-right: 0px;
  }
  .pizzaColumn:nth-child(3) {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .title-block {
    max-width: 540px;
  }
  .pizzaColumn {
    flex: 0 1 510px;
  }
  .pizza-itemPicture {
    max-height: 249px;
    min-width: 245px;
    overflow: hidden;
  }
  .pizza-itemPicture img {
    object-position: -30px -10px;
    max-height: 249px;
  }
}
@media (max-width: 575px) {
  .title-blockTitle {
    font-size: 30px;
  }
  .title-block {
    width: 340px;
  }
  .pizza-item {
    flex-direction: column;
  }
  .pizza-itemPicture {
    width: 300px;
      height: 200px;
  }
  .pizza-itemPicture img {
    object-position: 0 0;
    width: 300px;
    height: 200px;
  }
  .pizzaColumn {
    padding: 30px 20px;
    max-width: 300px;
    margin-right: 0;
    height: auto;
  }
  .pizza-itemPicture {
    overflow: visible;
  }
  .pizza-itemBody {
    padding: 0;
  }
  .pizza-itemBody >* {
    max-width: none;
  }
  .pizza-itemBody >*:first-child {
    margin-top: 30px;
  }
  .pizza-itemTitle {
    font-size: 24px;
  }
}