*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
.main {
  color: #111111;
  background-color: #e5e5e5;
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
}
.main__container {
  width: 100%;
}
.main__title-block {
  margin: 0px auto;
}
.title-block {
  max-width: 793px;
}
.title-block__title {
  text-align: center;
  color: rgb(241, 44, 14);
  font-family: Oswald, sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}
.title-block__description {
  text-align: center;
  color: rgb(17, 17, 17);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
}
.pizza__items {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pizza__column {
  margin-top: 30px;
  width: 525px;
  background-color: #fff;
  padding: 30px 0 30px 30px;
  margin-right: 15px;
}
.pizza-item {
  display: flex;
}
.pizza-item__picture {
  max-height: 249px;
  max-width: 255px;
  flex: 0 0 50%;
  overflow: hidden;
}
.pizza-item__picture img {
  max-height: 269px;
  vertical-align: center;
  object-position: -40px -10px;
}
.pizza-item__body {
  padding: 0 25px;
  flex: 0 1 50%;
}
.pizza-item__body >* {
  margin-top: 20px;
  max-width: 220px;
}
.pizza-item__title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
}
.pizza-item__description {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
}
.pizza-item__price {
  color: rgb(241, 44, 14);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.pizza-item__button button {
  background-color: rgb(226, 226, 226);
  color: rgb(17, 17, 17);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s ease;
  text-transform: uppercase;
}
.pizza-item__button button:hover {
  background-color: rgb(207, 207, 207);
}
@media (max-width: 1180px) {
  .pizza-item__picture {
    max-height: 249px;
    flex: 0 0 155px;
    overflow: hidden;
  }
  .pizza__column {
    width: 425px;
  }
  .pizza-item__picture img {
    object-position: -90px -10px;
  }
}
@media (max-width: 1039px) {
  .title-block {
    max-width: 720px;
    margin: 0 auto;
  }
  .pizza__items {
    width: 940px;
  }
}
@media (max-width: 969px) {
  .pizza-item__picture {
    max-height: 249px;
    min-width: 300px;
    overflow: hidden;
  }
  .pizza__items {
    width: auto;
  }
  .pizza__column {
    flex: 1 1 auto;
    margin: 0 30px 30px 30px;
  }
  .pizza__column:first-child {
    margin-top: 30px;
  }
  .pizza-item__picture img {
    object-position: -15px -20px;
  }
  .pizza-item {
    justify-content: space-between;
  }
  .pizza-item__picture img {
    max-height: 300px;
  }
  .pizza__items:nth-child(3) .pizza-item__picture img {
    object-position: 0 -20px; 
  }
}
@media (max-width: 639px) {
  .title-block__title {
    font-size: 30px;
  }
  .title-block {
    width: 340px;
  }
  .pizza-item {
    flex-direction: column;
  }
  .pizza-item__picture {
    width: 300px;
      height: 200px;
  }
  .pizza-item__picture img {
    object-position: 0 0;
    width: 300px;
    height: 200px;
  }
  .pizza__column {
    padding: 30px 20px;
    max-width: 300px;
  }
  .pizza-item__picture {
    overflow: visible;
  }
}