* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
}
.mainContainer {
  width: 100%;
}
.feed-back {
  position: fixed;
  top: 50%;
  left: 0;
  margin-left: -373px;
  transition: all .4s ease;
}
.feed-back:hover {
  margin-left: 0;
}
.feed-backContainer {
  background-color: rgba(34, 34, 34, 0.87);
  max-width: 400px;
  display: flex;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
    
}
.feed-backContent {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.feed-backPicture {
  margin: 12.875px 8px 12.875px 0;
}
.feed-backImg {
  height: 100px;
  width: 90px;
  background-color: antiquewhite;
}
.feed-backDescription {
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.feed-backButton {
  background-color: gold;
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
  border-radius: 20px 0 0 20px;
  padding: 5px;
  font-size: 14px;
}
