*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.main {
  width: 100%;
  height: 100vh;
}
.main__container {
  width: 100%;
}
.pages {
  margin: 0 auto;
  padding: 5px;
  width: 700px;
}
.pages__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.pages__line {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: rgb(177, 177, 177);
}
.pages__item {
  z-index: 2;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
}
.pages__item-purple {
  background-color: rgb(160, 0, 160);
}
.pages__item-gray {
  background-color: rgb(177, 177, 177);
  color: #000;
}